body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    background-color: aqua;
    width: 100%;
    display: flex;
    justify-content: space-evenly; 

}

.landing {
    background-image: url("./images/logedited.png");
    background-size: cover;
    min-height: 100vh;
    img{
        width: 100%;
        height: auto;
    }
}

nav {
    position: sticky; 
    top: 0; 
    z-index: 1000; 
    background-color: #333;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
   
}


nav div {
    display: flex;
    gap: 15px; 
}

nav a {
    text-decoration: none;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

nav a:hover {
    background-color: #575757;
}

.content {
    padding: 20px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
}