body {
    margin: 0;
    font-family: "Gabriela", serif;
    font-weight: 400;
    font-style: normal;

}

/* #h1-title{
      
} */

.font{
    font-family: "Great Vibes", cursive;
    font-weight: 400;
    font-size: 8rem;
    font-style: normal;
    color: white;

}

.content {
    display: flex;
    flex-direction: row;
    padding: 5px;
}

#h1-me{
    font-size: 13rem;
}
#h1-and{
    font-size: 5rem;
}

#h1-the{
    font-size: 8rem;
}

#h1-hound{
    font-size: 11rem;
}

.navbar {
    background-color: #4d7b7c;
    width: 100%;
    display: flex;
    justify-content: space-evenly; 
    border-radius: 25px;

}

.aboutme {
    background-image: url("./images/todscene.png");
    background-size: cover;
    min-height: 100vh;
    img{
        width: auto;
        height: 100%;
    }
}

.big-mama {
    background-image: url("./images/big-mama.png");
    background-size: cover;
    min-height: 100vh;
    img{
        width: auto;
        height: 100%;
    }
}

.landing {
    background-image: url("./images/logedited.png");
    background-size: cover;
    min-height: 100vh;
    img{
        width: auto;
        height: 100%;
    }
}

.navbar-list a {
    border-radius: 25px; }

nav {
    position: sticky; 
    top: 0; 
    z-index: 1000; 
    display: flex;
    justify-content: space-evenly;
    padding: 10px 20px;
   
}


nav div {
    display: flex;
    gap: 15px; 
}

nav a {
    text-decoration: none;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

nav a:hover {
    background-color: #ca5e2a;
}



footer {
    text-align: center;
    padding: 10px;
    background-color: #4d7b7c;
    color: white;
}